# Backup files
*~

# python cache
__pycache__/

# juypter internals
.ipynb_checkpoints/

# poetry lock
poetry.lock


# data files downloaded and the db built
data/

# for gcloud, etc.
build/

# Go version (of the webapp) binary outputs
src/go/tess_dv_fast_server*
# e.g. server.log might be created during dev/testing
src/go/*.log
# generated build SHA for Go version
src/go/build.txt